.venv
**/__pycache__/
.env

# Large model files - already uploaded to HuggingFace
**/quantized_model/
*.safetensors

unsloth_compiled_cache/
unsloth_training_checkpoints/

hf/
lora_model/
model-torchao*/
output*/


